/.vagrant/
files/vagrant.yml
files/authorized_keys2
files/auth.json
files/user-data
files/fig.config
volumes/mysql
volumes/ezpublish
volumes/composercache
volumes/etcd
dockerfiles/ubuntu/ezpublish/prepare/auth.json
dockerfiles/debian/ezpublish/prepare/auth.json
dockerfiles/ubuntu/etcd/etcd_functions
dockerfiles/ubuntu/mysql/etcd_functions
dockerfiles/ubuntu/mysql/etcd_0.4.6_amd64.deb
dockerfiles/ubuntu/php-fpm/etcd_functions
dockerfiles/ubuntu/php-fpm/etcd_0.4.6_amd64.deb
dockerfiles/ubuntu/nginx/etcd_functions
dockerfiles/ubuntu/nginx/etcd_0.4.6_amd64.deb
dockerfiles/ubuntu/ezpublish/prepare/kickstart_template.ini
dockerfiles/ubuntu/ezpublish/prepare/setupwizard_ezstep_welcome.patch
dockerfiles/debian/ezpublish/prepare/kickstart_template.ini
dockerfiles/debian/ezpublish/prepare/setupwizard_ezstep_welcome.patch
dockerfiles/ubuntu/ezpublish/varnish_prepare/ezpublish.yml_varnishpurge.diff

