/.vagrant/
files/vagrant.yml
files/authorized_keys2
files/auth.json
files/user-data
files/fig.config
volumes/mysql
volumes/ezpublish
volumes/composercache
dockerfiles/ezpublish/install/kickstart_template.ini
dockerfiles/ezpublish/varnish_prepare/ezpublish.yml_varnishpurge.diff
