selenium:
  image: selenium/standalone-firefox
  links:
   - web1:web
  ports:
   - "9999:9999"
   - "4444:4444"
  environment:
   - SCREEN_WIDTH=1920
   - SCREEN_HEIGHT=1080
   - SCREEN_DEPTH=24

behatphpcli:
  image: ezsystems/ezphp
  user: ez
  links:
   - db1:db
   - web1:web
   - selenium:selenium
  volumes_from:
   - ezpublishvol
  command: "/prepare_behat.sh"

