[Unit]
Description=Fig.sh
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/vagrant/fig.sh up -d --no-recreate
#ExecStart=/opt/bin/a.sh
WorkingDirectory=/vagrant
User=core
Restart=no

[Install]
WantedBy=multi-user.target
